--
-- PostgreSQL database dump
--

\restrict rJRw3SVwOSDL1oWvD10WyQGT893nCxp5Pg9kgv4WOaqqTNR2GUFWJ5nDsWHH7gL

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: PlantingStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PlantingStatus" AS ENUM (
    'ACTIVE',
    'HARVESTED',
    'CANCELLED'
);


ALTER TYPE public."PlantingStatus" OWNER TO postgres;

--
-- Name: RecipeClass; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RecipeClass" AS ENUM (
    'FERTILIZANTE',
    'AGROQUIMICO'
);


ALTER TYPE public."RecipeClass" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Crop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Crop" (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Crop" OWNER TO postgres;

--
-- Name: Planting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Planting" (
    id text NOT NULL,
    "cropId" text NOT NULL,
    "varietyId" text,
    "ranchId" text NOT NULL,
    "plotId" text NOT NULL,
    hectares numeric(10,2) NOT NULL,
    "sowingDate" timestamp(3) without time zone NOT NULL,
    "harvestDate" timestamp(3) without time zone NOT NULL,
    "sowingIsoWeek" text NOT NULL,
    "harvestIsoWeek" text NOT NULL,
    status public."PlantingStatus" DEFAULT 'ACTIVE'::public."PlantingStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    tabla text
);


ALTER TABLE public."Planting" OWNER TO postgres;

--
-- Name: Plot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Plot" (
    id text NOT NULL,
    "ranchId" text NOT NULL,
    name text NOT NULL,
    hectares numeric(10,2) NOT NULL
);


ALTER TABLE public."Plot" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    unit text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Ranch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Ranch" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Ranch" OWNER TO postgres;

--
-- Name: Recipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Recipe" (
    id text NOT NULL,
    name text NOT NULL,
    classification public."RecipeClass" NOT NULL,
    "cropId" text NOT NULL,
    "varietyId" text,
    "growthWeek" integer NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "sowingType" text,
    temporalidad text
);


ALTER TABLE public."Recipe" OWNER TO postgres;

--
-- Name: RecipeItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RecipeItem" (
    id text NOT NULL,
    "recipeId" text NOT NULL,
    "productId" text NOT NULL,
    "qtyPerHectare" numeric(10,3) NOT NULL,
    notes text
);


ALTER TABLE public."RecipeItem" OWNER TO postgres;

--
-- Name: Variety; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Variety" (
    id text NOT NULL,
    "cropId" text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Variety" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Crop; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Crop" (id, name) FROM stdin;
cmh2k5z4e00053igm9ovcixfs	Ma├¡z
cmh3ira4m0000146d60lv420u	Espinaca
cmh3q6p2k000012ppp0cgaljt	Cilantro
cmh3rdhnv001c5npe8kzf0osx	Arugula
cmh3rdi5o001t5npe4ehzt6rf	Baby leaves
cmh3rdinp00285npe2h0qvs1v	Kale
cmh3v0ige0000b1yi7y0oj693	Espinaca Grande
cmh3v0ikf000tb1yimyau3cpe	Baby leaf mix
\.


--
-- Data for Name: Planting; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Plot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Ranch; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Recipe; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: RecipeItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Variety; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Crop Crop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Crop"
    ADD CONSTRAINT "Crop_pkey" PRIMARY KEY (id);


--
-- Name: Planting Planting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Planting"
    ADD CONSTRAINT "Planting_pkey" PRIMARY KEY (id);


--
-- Name: Plot Plot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plot"
    ADD CONSTRAINT "Plot_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Ranch Ranch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ranch"
    ADD CONSTRAINT "Ranch_pkey" PRIMARY KEY (id);


--
-- Name: RecipeItem RecipeItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RecipeItem"
    ADD CONSTRAINT "RecipeItem_pkey" PRIMARY KEY (id);


--
-- Name: Recipe Recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Recipe"
    ADD CONSTRAINT "Recipe_pkey" PRIMARY KEY (id);


--
-- Name: Variety Variety_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Variety"
    ADD CONSTRAINT "Variety_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Crop_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Crop_name_key" ON public."Crop" USING btree (name);


--
-- Name: Planting_harvestDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Planting_harvestDate_idx" ON public."Planting" USING btree ("harvestDate");


--
-- Name: Planting_sowingDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Planting_sowingDate_idx" ON public."Planting" USING btree ("sowingDate");


--
-- Name: Plot_ranchId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Plot_ranchId_name_key" ON public."Plot" USING btree ("ranchId", name);


--
-- Name: Product_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_name_key" ON public."Product" USING btree (name);


--
-- Name: Ranch_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Ranch_name_key" ON public."Ranch" USING btree (name);


--
-- Name: RecipeItem_recipeId_productId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RecipeItem_recipeId_productId_key" ON public."RecipeItem" USING btree ("recipeId", "productId");


--
-- Name: Recipe_cropId_growthWeek_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Recipe_cropId_growthWeek_idx" ON public."Recipe" USING btree ("cropId", "growthWeek");


--
-- Name: Recipe_name_cropId_varietyId_growthWeek_version_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Recipe_name_cropId_varietyId_growthWeek_version_key" ON public."Recipe" USING btree (name, "cropId", "varietyId", "growthWeek", version);


--
-- Name: Variety_cropId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Variety_cropId_name_key" ON public."Variety" USING btree ("cropId", name);


--
-- Name: Planting Planting_cropId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Planting"
    ADD CONSTRAINT "Planting_cropId_fkey" FOREIGN KEY ("cropId") REFERENCES public."Crop"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Planting Planting_plotId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Planting"
    ADD CONSTRAINT "Planting_plotId_fkey" FOREIGN KEY ("plotId") REFERENCES public."Plot"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Planting Planting_ranchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Planting"
    ADD CONSTRAINT "Planting_ranchId_fkey" FOREIGN KEY ("ranchId") REFERENCES public."Ranch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Planting Planting_varietyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Planting"
    ADD CONSTRAINT "Planting_varietyId_fkey" FOREIGN KEY ("varietyId") REFERENCES public."Variety"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Plot Plot_ranchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plot"
    ADD CONSTRAINT "Plot_ranchId_fkey" FOREIGN KEY ("ranchId") REFERENCES public."Ranch"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RecipeItem RecipeItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RecipeItem"
    ADD CONSTRAINT "RecipeItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RecipeItem RecipeItem_recipeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RecipeItem"
    ADD CONSTRAINT "RecipeItem_recipeId_fkey" FOREIGN KEY ("recipeId") REFERENCES public."Recipe"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Recipe Recipe_cropId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Recipe"
    ADD CONSTRAINT "Recipe_cropId_fkey" FOREIGN KEY ("cropId") REFERENCES public."Crop"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Recipe Recipe_varietyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Recipe"
    ADD CONSTRAINT "Recipe_varietyId_fkey" FOREIGN KEY ("varietyId") REFERENCES public."Variety"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Variety Variety_cropId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Variety"
    ADD CONSTRAINT "Variety_cropId_fkey" FOREIGN KEY ("cropId") REFERENCES public."Crop"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict rJRw3SVwOSDL1oWvD10WyQGT893nCxp5Pg9kgv4WOaqqTNR2GUFWJ5nDsWHH7gL

